 .section0katseye{
        text-align: center;
    }

    body{
        background-color: #ecd6ff;
    }


    <!--Header-->

    .section1katseye{
        width: 100%;
    }

    .align{
        text-align: center;
    }

    .p1{
        text-align: center;
    }
