.section0tws{
        text-align: center;
    }

    body{
        background-color: #e7f5ff;
    }


    <!--Header-->

    .section1{
        width: 100%;
    }

    .align{
        text-align: center;
    }

    .p1{
        text-align: center;
    }
