
<!--SABRINA-->
    
    .section0{
        text-align: center;
    }

    body{
        background-color: #fff7f0;
    }


    <!--Header-->

    .section1{
        width: 100%;
    }

    .align{
        text-align: center;
    }

    .p1{
        text-align: center;
    }


    <!--Members-->

    .section2 {
        width: 100%;
    }

    .section2 img{
        text-align: left;
    }

    .clear-section2{
        clear: both;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    .floater-section2 {
        margin-left: auto;
        margin-right: auto;
        display:inline-block;    
        width: 40%;

    }

    .floater-section2 p{
        text-align: left;  
    }

    .img2{
        float: left;
        padding-right: 10px;
    }


    <!--Awards-->


    .section3{
        text-align: center;
        width: 100%;
    }

    .section4{
        clear: both;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .section5{
        margin-left: auto;
        margin-right: auto;
        display:inline-block;    
        width: 40%;
    }

    <!--Discography-->

    .section6{
        text-align: center;
        width: 100%;
    }

    .section7{
        clear: both;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .section8{
        margin-left: auto;  
        margin-right: auto;
        display:inline-block flex;
        width: 60%;
        padding-bottom: 10px;
        border: solid black;
    }

    .section8-album-info{
        margin-left: auto;
        margin-right: auto;
        display:inline-block flex;
        width: 60%;
        font-size: 67%;
        padding-bottom: 10px;
    }

    .section8-tracklist{
        margin-right: auto;
        margin-left: auto;
        display:inline-block;
        width: 30%;
        font-size: 70%;
    }

    .section8-listtrack{
        margin-right: auto;
        margin-left: auto;
        display:inline-block;
        width: 30%;
        font-size: 70%;
    }

    .section8-singles{
        margin-left: auto;
        margin-right: auto;
        display:inline-block flex;
        width: 60%;
        font-size: 70%;
        padding-bottom: 10px;

    }
